Exercise 2: Create markdown cell with title of the notebook.
Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction. Write an introductory sentence about the notebook.

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Libraries used by Data Scientists
- Open Source Data Science tools
- Popular languages in Data Science
- Various Arithmetic Expressions

Exercise4 - Create a markdown cell to list data science languages

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala

Exercise 5 - Create a markdown cell to list data science libraries.

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. SciPy
5. TensorFlow
6. PyTorch

Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools | 
| -------------| 
| MySQL | 
| Hadoop | 
| Apache Spark | 
| RStudio |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

In [14]:
# Addition Operation
4+5

9

In [15]:
# Subtraction Operation
12-7

5

In [16]:
# Multiplication Operation
10*5

50

In [17]:
# Division Operation
50/7

7.142857142857143

Exercise 8 - Create a code cell to multiply and add numbers.

In [23]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [24]:
#  This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Vinayaki Parab